<h2>Update the drone</h2>

<form action="/drones/{{droneToEdit._id}}/edit" method="POST">

  <label for="name-input">Name:</label>
  <input type="text" name="name" value="{{droneToEdit.name}}"/>

  <label for="propellers-input">Propellers:</label>
  <input type="text" name="propellers" value="{{droneToEdit.propellers}}"/>

  <label for="speed-input">Max Speed:</label>
  <input type="text" name="maxSpeed" value="{{droneToEdit.maxSpeed}}" />

<button type="submit">Submit</button>

</form>